/* Dimensiones del contenido*/
.calculadora {
    margin:auto;
    padding: 2.5% 5%;
    background-color:#F19696;
    width:100%;
    height:98vh;
    border-radius: 15px;
}

/* Dimensiones de los botones*/
.calculadora td button.numero,
.calculadora td button.operador
{
    display:block;
    width:100%;
    height: 100%;
    font-size: 25px;
    border-radius: 15px;
}

/* Dimensiones a la "pantalla de resultado" */
#resultado {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 40px;
    width:100%;
    height: 100%;
    line-height: 100px;
    background-color:#fff;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.resultado {
    width: 100%;
    height: 30%;
}

/* Colores y estilos a los botones de operaciones*/
.operador {
    background: #FFFAE8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: #DDAE09;
    border: none;
}
/*colores y estilos a los botones de número*/
.numero {
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}
/* Da el margen entre los botones*/
td {
    padding: 0.5%;
    text-align: center;
}
/*Estilos botón modo día y modo noche */
.switch {
    border: none;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 1000px;
    display: flex;
    margin: auto;
}

.switch > span {
    width: 30px;
    height: 30px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-container{
    height: 8%;
}

.desactivado{
    color: rgba(0, 0, 0, 0.23);
 }


/* span, button{
    font-size: clamp(37px, 65px, 75px ) !important;
} */

/* Estilos para pantallas de celulares */
@media (max-width: 640px) {
    .calculadora {
        padding: 5%;
        height:95vh;
    }

    td {
        padding: 2% 1%;
    }

    .resultado {
        height: 30%;
    }
} 

 /* Modo noche */
.dark {
    background: #000000;
    color: #FFFFFF;
}

.calculadora.dark td button.operador {
background-color: #C8A016;
color: #FFFFFF;
}

.calculadora.dark td button.numero,
.calculadora.dark td .switch,
.calculadora.dark td #resultado
{
background-color: #606060;
color: #FFFFFF;
}

.dark .desactivado {
   color:  rgba(255, 255, 255, 0.38);
}

